  p{
     font-size: 200%;
     color: light blue;
    }
  body{
        background-color: red;
       }
h1 {
    border-style: solid;
    border-color: blue;
}
p {
    font-size: 50px;
    font-style: italic;
   border:25px solid black;
}
p {
    font-size: 50px;
    font-style: italic;
   border:25px solid black;
}
img
{
  padding:25px;
  border:25px solid black;
  margin:50 px;
}
