  p{
     font-size: 200%;
     color: light blue;
    }
  body{
        background-color: red;
       }
h1 {
    border-style: solid;
    border-color: blue;
}
p {
    font-size: 26px;
}
p {
    font-size: 14px;
}
